/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
body {
  font-size: 3rem;
  background-image: url("/assets/light-yellow-colored-crumpled-paper-texture-background-for-design-decorative-free-photo.jpg");
  font-family: "Caveat", cursive;
}
